body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
   
}

.middle {
    display: flex;
}

.numbers {
    display: flex;
    flex-direction: column;
}
.operation,
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width:8vw;
    height:9vw;
    border: grey solid 2px;
    flex-wrap: wrap;
}
#result{
    display: flex;
    justify-content:end;
    align-items: end;
    width: 5.5vw;
    height: 3vw;
    border: grey solid 2px;
}
#result {
    width:100%;
    
}
.row1,
.row2,
.row3,.row4 {
    display: flex;
}